body{
    background-color: rgb(209, 201, 201);
}
ul{
    left: 0px;
    top: 0px;
    color: white;
    list-style-type: none;
}
li a{
    display: inline;
    padding: 14px 17px;
    float: left;
    color: white;
    text-decoration: none;
}
li a:hover{
background-color:rgb(54, 232, 197);
border-radius: 4px;
color: black;
}
table img{
    border-radius: 10px;
    
}
.text{
    color:white;
    font-weight: bolder;
    padding: 89px 22px;
    width: 600px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
} 



button{
    
    height: 32px;
    width: 52px;
    border: none;
    background-color: #ED5564;
    color: rgb(254, 254, 254);
    float: right;
    border-radius: 5px;
    
}
